.formik-container{
    height: 100%;
}

/* .form-container {
    max-width: 600px;
    margin: auto;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label input {
    margin-right: 5px;
  } */
  .form-container {
    max-width: 600px;
    margin: auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-label input {
    margin-right: 5px;
  }
  
  .section, .lesson {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-section-button, .add-lesson-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  
  .remove-button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .textarea-field {
    height: auto; 
  }
