.enroll-buttons {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* background-color: aqua; */
}

.ml {
    margin-left: 5px;
}

.basic-p {
    --bs-btn-bg: #0174BE !important;
    --bs-btn-border-color: #0174BE !important;
    --bs-btn-hover-bg: #0e4185ec !important;
    --bs-btn-hover-border-color: #0C356A !important;
    --bs-btn-active-bg: #0C356A !important;
    --bs-btn-active-border-color: #0C356A !important;
    --bs-btn-disabled-bg: #0174BE !important;
    --bs-btn-disabled-border-color: #0174BE !important;
}
